<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO DELICIOUS CRUD!</h1>
    <a href="/new">Add a dish!</a>

    @using CRUDelicious.Models;
    @model List<Dish>;

    <ul>
        @foreach (Dish dish in Model)
        {
            <li><a href="@dish.DishID">@dish.Name</a> by @dish.Chef</li>
        }
    </ul>
</body>
</html>